doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 Custom Object Table
        a(href="/update-cobj") Add/Update this table
        table
            tr
                th Name
                th Author
                th Genre
            each book in data
                tr
                    td #{book.properties.name}
                    td #{book.properties.author}
                    td #{book.properties.genre}